<!-- load static -->
{% load static %}


<!-- Footer,load from year which is get by js-->
<footer id="main-footer" class="bg-dark text-white text-center">
    
    <!-- about -->

    <section id="work" class="bg-primary text-white text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="address">Registered Office:</h3>
                <p>C-407,Shivalik Corporate Park,<br>
                B\h. IOC Petrol Pump,<br>
                Nr. Shivranjani Cross Road,<br>
                132 ft Ring Road, Satellite,<br>
                Ahmedabad-380015, Gujarat (India)</p>
            </div>
            <div class="col-sm-4">
                <h3 class="call-us">Call us</h3>
                <p class="content-icon-spacing"><i class="fas fa-phone"></i>+91 79 2692 3033</p>
                <p class="content-icon-spacing"><i class="fas fa-phone"></i>+91 79 4009 2202</p>
                <p class="content-icon-spacing"><i class="fas fa-phone"></i>+91 99096 05050</p>
            </div>
            <div class="col-sm-4S">
            
                <h3 class="email"><i class="fas fa-envelope-open"></i> Email</h3>
                <p class="content-icon-spacing"> mnr2019realestate@gmail.com</p>
            </div>
        </div>
    </section> 
    
    <div class="py-4 bg-info text-white text-center"> 
        Copyright &copy;
        <span class="year"></span> BT Real Estate
    </div>


</footer>